 a{
    text-decoration: none;
 }
 .all{
     margin: 5rem 0;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 .box{
    margin-bottom: 2rem;
     width: 30%;
     position: relative;
     overflow: hidden;
     &:hover{
         img{
         }
         .overlay{
             width: 100%;
         }
     }
     .overlay{
         position: absolute;
         z-index: 2;
         width: 0%;
         height: 100%;
         background-color: rgba(0, 128, 0, 0.42);
         transition: .5s;
         top: 0;
         right: 0;
     }
     img{
         width: 100%;
         transition: .5s;
        height: 100%;
     }
     .price{
         position: absolute;
         z-index: 1;
         top: 20px;
         background-color: green;
        color: #fff;
        font-size: 20px;
         padding: 5px 10px;
     }
     .boxes{
        text-align: center;
        margin-top: 8rem;
        color: #fff;
        font-size: 25px;
     }
 }
 .alls{
    display: flex;
    margin-top: 2rem;
    position: relative;
    z-index: 1;
    .left{
        width: 50%;
        margin-left: 2rem;
        font-size: 30px;
        font-weight: bold;
    }
    .right{
            display: flex;
            justify-content: space-evenly;
            width: 40%;

        a{
            text-align: center;
            font-size: 20px;
            position: relative;
            &:hover{
                &::after{
                    width: 30%;
                    transition: .5s;
                }
            }
            &::after{
                content: '';
                position: absolute;
                bottom: 8px;
                left: 0;
                width: 0%;
                height: 4px;
                background-color: red;
            }
        }
        i{
            font-size: 25px;
        }

    }
 }
